@using FribergCarRental.Models.ViewModel
@model RegisterViewModel

@{
    ViewData["Title"] = "Lägg till användare";
}

<h1>Lägg till användare</h1>

<hr />
@await Html.PartialAsync("~/Views/Shared/Partials/_AdminRegisterUserForm.cshtml", Model)

<div>
    <a class="btn btn-primary" asp-action="Index">Tillbaka</a>
</div>

