@using FribergCarRental.Services
@inject IAuthService AuthService


<nav class="navbar navbar-light bg-light navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3 navbar-margin">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><strong>Friberg</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Cars" asp-action="Index">Våra bilar</a>
                </li>
                @if (await AuthService.IsAdmin())
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dashboard
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Users" asp-action="Index">Användare</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Cars" asp-action="Index">Bilar</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Bookings" asp-action="Index">Bokningar</a>
                            </li>
                        </ul>
                    </li>
                }
            </ul>

            <ul class="navbar-nav d-flex justify-content-end">
                @if (AuthService.IsAuthenticated())
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="text-capitalize">@AuthService.GetUsername()</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Profile"><i class="fa fa-user" aria-hidden="true"></i><span class="dropdown-margin">Kunduppgifter</span></a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-area="" asp-controller="Booking" asp-action="Index"><i class="fa-regular fa-calendar"></i><span class="dropdown-margin">Mina bokningar</span></a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout"><i class="fa fa-sign-out" aria-hidden="true"></i><span class="dropdown-margin">Logga ut</span></a>
                            </li>
                        </ul>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Logga in</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Registrera</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>