@using FribergCarRental.Models.ViewModel
@model RegisterLoginViewModel

@{
    ViewData["Title"] = "Logga in eller Registrera";
}

<div class="container d-flex min-vh-100">
    <div class="row w-100 align-items-start">
        <!-- Login Form -->
        @await Html.PartialAsync("~/Views/Shared/Partials/_LoginForm.cshtml", Model.LoginViewModel)

        <!-- Register Form -->
        @await Html.PartialAsync("~/Views/Shared/Partials/_RegisterFormFields.cshtml", Model.RegisterViewModel)

    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}