@using FribergCarRental.Models.ViewModel
@model LoginViewModel

@{
    ViewData["Title"] = "Logga in";
}
<div class="container d-flex justify-content-center">
    <div class="row w-100 justify-content-center">
        @await Html.PartialAsync("~/Views/Shared/Partials/_LoginForm.cshtml", Model)
    </div>
</div>
