@using FribergCarRental.Models.ViewModel
@model LoginViewModel

@{
    ViewData["Title"] = "Logga in";
}

<h1>Login</h1>

<div class="row">
    <div class="col-md-4">        
        @await Html.PartialAsync("~/Views/Shared/Partials/_LoginForm.cshtml", Model)
    </div>
</div>