@using FribergCarRental.Models.ViewModel
@model AccountViewModel

@{
    ViewData["Title"] = "Logga in eller Registrera";
}

<div class="container mt-3">
    <div class="row justify-content-center">
        <!-- Login Form -->
        <div class="col-md-5">
            <h3 class="text-center">Logga in</h3>
            <hr />
            @await Html.PartialAsync("~/Views/Shared/Partials/_LoginForm.cshtml", Model.LoginViewModel)
        </div>

        <!-- Register Form -->
        <div class="col-md-5">
            <h3 class="text-center">Registrera</h3>
            <hr />
            @await Html.PartialAsync("~/Views/Shared/Partials/_RegisterForm.cshtml", Model.RegisterViewModel)
        </div>
    </div>
</div>

@section Scripts {
   await Html.RenderPartialAsync("_ValidationScriptsPartial")
}