@using FribergCarRental.Models.ViewModel
@model RegisterViewModel

@{
    ViewData["Title"] = "Registrera";
}

<div class="container d-flex justify-content-center">
    <div class="row w-100 justify-content-center">
        @await Html.PartialAsync("~/Views/Shared/Partials/_RegisterFormFields.cshtml", Model)
    </div>
</div>