@using FribergCarRental.Models.ViewModel
@model RegisterViewModel

@{
    ViewData["Title"] = "Registrera";
}

<h1>Registrera</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        @await Html.PartialAsync("~/Views/Shared/Partials/_RegisterForm.cshtml", Model)
    </div>
</div>

