@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm rounded-3 p-4">
                <h4 class="mb-3">Personal Information</h4>
                <p class="text-muted">Use a permanent address where you can receive mail.</p>

                <form>
                    <div class="row">
                        <!-- First Name -->
                        <div class="col-md-6 mb-3">
                            <label for="firstName" class="form-label">First name</label>
                            <input type="text" class="form-control" id="firstName" placeholder="Enter first name">
                        </div>

                        <!-- Last Name -->
                        <div class="col-md-6 mb-3">
                            <label for="lastName" class="form-label">Last name</label>
                            <input type="text" class="form-control" id="lastName" placeholder="Enter last name">
                        </div>
                    </div>

                    <!-- Email Address -->
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter email">
                    </div>

                    <!-- Country -->
                    <div class="mb-3">
                        <label for="country" class="form-label">Country</label>
                        <select class="form-select" id="country">
                            <option selected>United States</option>
                            <option>Canada</option>
                            <option>United Kingdom</option>
                            <option>Germany</option>
                        </select>
                    </div>

                    <!-- Street Address -->
                    <div class="mb-3">
                        <label for="streetAddress" class="form-label">Street address</label>
                        <input type="text" class="form-control" id="streetAddress" placeholder="Enter street address">
                    </div>

                    <div class="row">
                        <!-- City -->
                        <div class="col-md-4 mb-3">
                            <label for="city" class="form-label">City</label>
                            <input type="text" class="form-control" id="city" placeholder="City">
                        </div>

                        <!-- State / Province -->
                        <div class="col-md-4 mb-3">
                            <label for="state" class="form-label">State / Province</label>
                            <input type="text" class="form-control" id="state" placeholder="State">
                        </div>

                        <!-- ZIP / Postal Code -->
                        <div class="col-md-4 mb-3">
                            <label for="zip" class="form-label">ZIP / Postal code</label>
                            <input type="text" class="form-control" id="zip" placeholder="ZIP">
                        </div>
                    </div>

                    <!-- Buttons -->
                    <div class="d-flex justify-content-end mt-4">
                        <button type="button" class="btn btn-outline-secondary me-3">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>