@{
    ViewData["Title"] = "Landing Page";
}

<!-- Hero Section -->
<section class="hero">
    <div class="container">
        <img src="img/Logo3.png" alt="Friberg Car Rentals Logo" class="img-fluid mb-6">
        <p class="text-shadow">Din pålitliga partner för pålitliga och prisvärda biluthyrningar.</p>
        <a asp-area="" asp-controller="Cars" asp-action="Index" class="btn btn-primary btn-lg call-to-action">Boka din bil nu.</a>
    </div>
</section>