html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0;
    padding: 0;
}

.hero {
    background: linear-gradient(to bottom right, #101F24, #E4ECEF);
    color: #FFFFFF;
    text-align: center;
    padding: 30px 20px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.bg-custom {
    background: #98A6AA;
}

.hero img {
    max-width: 150px;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .hero img {
        max-width: 400px;
    }
}

.hero h1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.btn-custom {
    color: #101F24;
    padding: 12px 30px;
    font-size: 1.2rem;
    text-decoration: none;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    border: 1px solid #112025;
}

.btn-custom:hover {
    border: 1px solid #112025;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.3);
}

.footer {
    background-color: #0E2024;
    color: #E3EBEE;
    padding: 20px 0;
    text-align: center;
}

.footer a {
    color: #E4ECEF;
    text-decoration: none;
}
.footer p {
    line-height: 24px;
}

.footer a:hover {
    text-decoration: underline;
}

.text-shadow {
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
}

.dropdown-margin {
    margin-left: 1rem;
}

.navbar-margin {
    padding: 0.5rem 4rem;
}

.main-padding {
    padding-bottom: 7rem !important;
}

.card {
    height: 100%;
}

.card-container {
    margin-bottom: 1rem;
}

.form-control {
    margin-bottom: 0.5rem;
}

.icon-margin {
    margin-left: 8px;
}